@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,400italic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@-webkit-keyframes playing {
  /* line 28, ../scss/sass/screen.scss */
  from {
    background-position: 0px;
  }

  /* line 31, ../scss/sass/screen.scss */
  to {
    background-position: -300px;
  }
}

@-moz-keyframes playing {
  /* line 28, ../scss/sass/screen.scss */
  from {
    background-position: 0px;
  }

  /* line 31, ../scss/sass/screen.scss */
  to {
    background-position: -300px;
  }
}

@-ms-keyframes playing {
  /* line 28, ../scss/sass/screen.scss */
  from {
    background-position: 0px;
  }

  /* line 31, ../scss/sass/screen.scss */
  to {
    background-position: -300px;
  }
}

@keyframes playing {
  /* line 28, ../scss/sass/screen.scss */
  from {
    background-position: 0px;
  }

  /* line 31, ../scss/sass/screen.scss */
  to {
    background-position: -300px;
  }
}

@-webkit-keyframes goombaAnimation {
  /* line 37, ../scss/sass/screen.scss */
  from {
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 0;
  }

  /* line 45, ../scss/sass/screen.scss */
  to {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
  }
}

@-moz-keyframes goombaAnimation {
  /* line 37, ../scss/sass/screen.scss */
  from {
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 0;
  }

  /* line 45, ../scss/sass/screen.scss */
  to {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
  }
}

@-ms-keyframes goombaAnimation {
  /* line 37, ../scss/sass/screen.scss */
  from {
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 0;
  }

  /* line 45, ../scss/sass/screen.scss */
  to {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
  }
}

@keyframes goombaAnimation {
  /* line 37, ../scss/sass/screen.scss */
  from {
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 0;
  }

  /* line 45, ../scss/sass/screen.scss */
  to {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
  }
}

@-webkit-keyframes jumping {
  /* line 56, ../scss/sass/screen.scss */
  0% {
    left: 0;
    top: 40px;
  }

  /* line 60, ../scss/sass/screen.scss */
  30%,90% {
    top: 60px;
  }

  /* line 63, ../scss/sass/screen.scss */
  60% {
    top: 40px;
  }

  /* line 66, ../scss/sass/screen.scss */
  100% {
    top: 60px;
    left: 100%;
  }
}

@-moz-keyframes jumping {
  /* line 56, ../scss/sass/screen.scss */
  0% {
    left: 0;
    top: 40px;
  }

  /* line 60, ../scss/sass/screen.scss */
  30%,90% {
    top: 60px;
  }

  /* line 63, ../scss/sass/screen.scss */
  60% {
    top: 40px;
  }

  /* line 66, ../scss/sass/screen.scss */
  100% {
    top: 60px;
    left: 100%;
  }
}

@-ms-keyframes jumping {
  /* line 56, ../scss/sass/screen.scss */
  0% {
    left: 0;
    top: 40px;
  }

  /* line 60, ../scss/sass/screen.scss */
  30%,90% {
    top: 60px;
  }

  /* line 63, ../scss/sass/screen.scss */
  60% {
    top: 40px;
  }

  /* line 66, ../scss/sass/screen.scss */
  100% {
    top: 60px;
    left: 100%;
  }
}

@keyframes jumping {
  /* line 56, ../scss/sass/screen.scss */
  0% {
    left: 0;
    top: 40px;
  }

  /* line 60, ../scss/sass/screen.scss */
  30%,90% {
    top: 60px;
  }

  /* line 63, ../scss/sass/screen.scss */
  60% {
    top: 40px;
  }

  /* line 66, ../scss/sass/screen.scss */
  100% {
    top: 60px;
    left: 100%;
  }
}

/* line 73, ../scss/sass/screen.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab";
  background-color: #141414;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
}

/* line 86, ../scss/sass/screen.scss */
div, li, ul, span, img, h1, h2, h3, p, a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 90, ../scss/sass/screen.scss */
a {
  font-family: "Roboto Slab";
}

/* line 94, ../scss/sass/screen.scss */
.mobile-topbar {
  background-color: #e31515;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 40px;
}
@media only screen and (min-width: 602px) {
  /* line 94, ../scss/sass/screen.scss */
  .mobile-topbar {
    display: none;
  }
}
/* line 107, ../scss/sass/screen.scss */
.mobile-topbar .mobile-menu-toggle {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 0;
  margin: 0;
  padding: 0;
  background-image: url(../img/menu-button.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 10px;
}
/* line 123, ../scss/sass/screen.scss */
.mobile-topbar .logo {
  display: inline-block;
  position: absolute;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  height: 20px;
  top: 8px;
  background-image: url(../img/spillmuseet-horizontal.svg);
  background-size: 147px;
  background-repeat: no-repeat;
}

/* line 137, ../scss/sass/screen.scss */
.articles-container {
  width: 100%;
  max-width: 1312px;
  position: relative;
  margin: 0 auto;
  z-index: 1000;
  background-color: #0a0a0a;
  overflow-x: hidden;
}
/* line 139, ../scss/sass/screen.scss */
.articles-container .main-header {
  display: none;
}
@media only screen and (min-width: 602px) {
  /* line 139, ../scss/sass/screen.scss */
  .articles-container .main-header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(../img/top-header.jpg);
    background-position: center top;
    background-attachment: fixed;
    height: 120px;
    overflow: hidden;
  }
  /* line 157, ../scss/sass/screen.scss */
  .articles-container .main-header .link-sprite-container {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumping 10s infinite linear;
    -moz-animation: jumping 10s infinite linear;
    -ms-animation: jumping 10s infinite linear;
    -o-animation: jumping 10s infinite linear;
    animation: jumping 10s infinite linear;
  }
  /* line 167, ../scss/sass/screen.scss */
  .articles-container .main-header .link-sprite-container .link-sprite {
    width: 50px;
    height: 50px;
    background: url(../img/link-sprite.png);
    -webkit-animation: playing 0.2s infinite steps(6);
    -moz-animation: playing 0.2s infinite steps(6);
    -ms-animation: playing 0.2s infinite steps(6);
    -o-animation: playing 0.2s infinite steps(6);
    animation: playing 0.2s infinite steps(6);
  }
  /* line 178, ../scss/sass/screen.scss */
  .articles-container .main-header .logo-image {
    width: 135px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -67.5px;
    z-index: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px 2px;
    background-image: url(../img/spillmuseet_bart_inverse_new.svg);
    background-size: 135px auto;
    background-repeat: no-repeat;
    background-background-position: 0 0;
  }
  /* line 196, ../scss/sass/screen.scss */
  .articles-container .main-header .logo-retrospillmessen {
    width: 220px;
    height: 87px;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -300px;
    z-index: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(../img/retrospillmessen-logo.png);
    background-size: 220px auto;
    background-repeat: no-repeat;
    background-background-position: 0 0;
  }
}
@media only screen and (min-width: 602px) and (min-width: 1025px) {
  /* line 157, ../scss/sass/screen.scss */
  .articles-container .main-header .link-sprite-container {
    -webkit-animation: jumping 15s infinite linear;
    -moz-animation: jumping 15s infinite linear;
    -ms-animation: jumping 15s infinite linear;
    -o-animation: jumping 15s infinite linear;
    animation: jumping 15s infinite linear;
  }
}
@media only screen and (min-width: 602px) and (min-width: 1025px) {
  /* line 167, ../scss/sass/screen.scss */
  .articles-container .main-header .link-sprite-container .link-sprite {
    -webkit-animation: playing 0.5s infinite steps(6);
    -moz-animation: playing 0.5s infinite steps(6);
    -ms-animation: playing 0.5s infinite steps(6);
    -o-animation: playing 0.5s infinite steps(6);
    animation: playing 0.5s infinite steps(6);
  }
}
/* line 227, ../scss/sass/screen.scss */
.articles-container .main-navigation {
  position: fixed;
  z-index: 5000;
  background-color: #e31515;
  width: 100%;
  opacity: 0;
  margin-top: -10px;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 237, ../scss/sass/screen.scss */
.articles-container .main-navigation .follow {
  display: none;
}
@media only screen and (min-width: 815px) {
  /* line 237, ../scss/sass/screen.scss */
  .articles-container .main-navigation .follow {
    display: inline-block;
    height: 100%;
    padding: 13px 10px 0 10px;
    vertical-align: top;
    color: #e31515;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}
/* line 248, ../scss/sass/screen.scss */
.articles-container .main-navigation .follow .follow-text {
  display: none;
}
@media only screen and (min-width: 1025px) {
  /* line 248, ../scss/sass/screen.scss */
  .articles-container .main-navigation .follow .follow-text {
    display: inline-block;
  }
}
/* line 255, ../scss/sass/screen.scss */
.articles-container .main-navigation .follow .fb-like {
  display: inline-block;
}
/* line 260, ../scss/sass/screen.scss */
.articles-container .main-navigation form[role="search"] {
  display: none;
  position: relative;
  vertical-align: top;
  padding: 10px 0 0 5px;
}
@media only screen and (min-width: 1025px) {
  /* line 260, ../scss/sass/screen.scss */
  .articles-container .main-navigation form[role="search"] {
    display: inline-block;
  }
}
/* line 272, ../scss/sass/screen.scss */
.articles-container .main-navigation form[role="search"] .screen-reader-text {
  text-indent: -999999px;
  overflow: hidden;
  max-width: 1px;
  width: 1px;
  position: relative;
  display: none;
}
/* line 280, ../scss/sass/screen.scss */
.articles-container .main-navigation form[role="search"] input[type="text"] {
  font-size: 13px;
  font-family: "Roboto Slab";
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  margin: 0;
  color: white;
}
/* line 289, ../scss/sass/screen.scss */
.articles-container .main-navigation form[role="search"] input[type="submit"] {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 13px;
  font-family: "Roboto Slab";
  padding: 5px 5px 5px 5px;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: -5px;
  color: white;
}
/* line 302, ../scss/sass/screen.scss */
.articles-container .main-navigation.active {
  display: block;
  opacity: 1;
  margin: 0;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
  height: 100%;
  border-top: 40px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 314, ../scss/sass/screen.scss */
.articles-container .main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
}
/* line 318, ../scss/sass/screen.scss */
.articles-container .main-navigation ul li {
  padding: 10px;
  margin: 0;
  display: block;
  color: white;
}
/* line 324, ../scss/sass/screen.scss */
.articles-container .main-navigation ul li.menu-item-has-children a {
  padding-right: 21px;
}
@media only screen and (min-width: 1025px) {
  /* line 324, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul li.menu-item-has-children a {
    padding-right: 25px;
  }
}
/* line 330, ../scss/sass/screen.scss */
.articles-container .main-navigation ul li.menu-item-has-children:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  right: 6px;
  top: 23px;
  bottom: 16px;
  background-size: 8px 8px;
  background-image: url(../img/arrow.svg);
  repeat: no-repeat;
}
@media only screen and (min-width: 1025px) {
  /* line 330, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul li.menu-item-has-children:after {
    right: 10px;
  }
}
/* line 349, ../scss/sass/screen.scss */
.articles-container .main-navigation ul li a {
  color: white;
}
@media only screen and (min-width: 602px) {
  /* line 227, ../scss/sass/screen.scss */
  .articles-container .main-navigation {
    display: inline-block;
    text-align: center;
    opacity: 1;
    margin-top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    top: 120px;
    margin-left: 0;
    z-index: 50000;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  /* line 389, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  /* line 397, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul li {
    position: relative;
    display: inline-block;
    padding: 0;
  }
  /* line 402, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul li .sub-menu {
    display: none;
  }
  /* line 407, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul li.current-menu-item a {
    background-color: #e31515;
  }
  /* line 412, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul li:hover {
    background-color: #e31515;
  }
  /* line 414, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul li:hover .sub-menu {
    min-width: 100%;
    background-color: red;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 500;
    left: 0;
    top: 49px;
  }
  /* line 425, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul li:hover .sub-menu li {
    width: 100%;
    display: block;
    text-align: left;
  }
  /* line 439, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul li a {
    color: white;
    font-family: "Roboto Slab";
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 11px 15px 11px;
    display: block;
  }
}
@media only screen and (min-width: 602px) and (min-width: 1000px) {
  /* line 227, ../scss/sass/screen.scss */
  .articles-container .main-navigation {
    padding: 0 0 0 10px;
  }
}
@media only screen and (min-width: 602px) and (min-width: 1312px) {
  /* line 227, ../scss/sass/screen.scss */
  .articles-container .main-navigation {
    width: 1312px;
    left: 50%;
    margin-left: -656px;
  }
}
@media only screen and (min-width: 602px) and (min-width: 602px) {
  /* line 382, ../scss/sass/screen.scss */
  .articles-container .main-navigation.tiny {
    position: fixed;
    top: 0;
  }
}
@media only screen and (min-width: 602px) and (min-width: 1025px) {
  /* line 439, ../scss/sass/screen.scss */
  .articles-container .main-navigation ul li a {
    padding: 15px 15px 15px 15px;
  }
}
/* line 460, ../scss/sass/screen.scss */
.articles-container #sidebar {
  display: none;
}
@media only screen and (min-width: 602px) {
  /* line 460, ../scss/sass/screen.scss */
  .articles-container #sidebar {
    margin-top: 158px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 460, ../scss/sass/screen.scss */
  .articles-container #sidebar {
    width: 22%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
  }
  /* line 475, ../scss/sass/screen.scss */
  .articles-container #sidebar .sidebar-section .sidebar-paragraph {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
  }
  /* line 480, ../scss/sass/screen.scss */
  .articles-container #sidebar .sidebar-section .top-comment-post {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 487, ../scss/sass/screen.scss */
  .articles-container #sidebar .sidebar-section .top-comment-post .comment-image {
    width: 100%;
    height: 80px;
    overflow: hidden;
  }
  /* line 491, ../scss/sass/screen.scss */
  .articles-container #sidebar .sidebar-section .top-comment-post .comment-image img {
    width: 100%;
  }
  /* line 495, ../scss/sass/screen.scss */
  .articles-container #sidebar .sidebar-section .top-comment-post .comment-title {
    position: absolute;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
/* line 508, ../scss/sass/screen.scss */
.articles-container .articles {
  position: relative;
  z-index: 1002;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: black;
  margin-top: 30px;
  padding: 0 0 20px;
}
@media only screen and (min-width: 602px) {
  /* line 508, ../scss/sass/screen.scss */
  .articles-container .articles {
    margin-top: 158px;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 508, ../scss/sass/screen.scss */
  .articles-container .articles {
    width: 980px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 508, ../scss/sass/screen.scss */
  .articles-container .articles {
    width: 76%;
    display: inline-block;
  }
}
/* line 529, ../scss/sass/screen.scss */
.articles-container .articles .archive-title {
  position: absolute;
  padding-left: 10px;
  top: 33px;
  width: 100%;
  display: block;
  font-size: 24px;
  text-align: center;
}
/* line 538, ../scss/sass/screen.scss */
.articles-container .articles .archive-title:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: 0;
}
/* line 549, ../scss/sass/screen.scss */
.articles-container .articles .articles-list {
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0;
}
@media only screen and (min-width: 602px) {
  /* line 549, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list {
    padding: 0 0 0 0;
  }
}
/* line 557, ../scss/sass/screen.scss */
.articles-container .articles .articles-list.search-list {
  margin-top: 120px;
}
/* line 561, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
@media only screen and (min-width: 602px) {
  /* line 561, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container {
    padding: 10px;
    width: 50%;
    display: inline-block;
  }
}
/* line 576, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container:nth-child(1) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(4) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(7) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(10) .article .main-image-container {
  height: 200px;
}
/* line 578, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container:nth-child(1) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(4) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(7) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(10) .article .main-image-container img {
  margin-left: -100px;
}
/* line 590, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container:nth-child(2), .articles-container .articles .articles-list .article-container:nth-child(3), .articles-container .articles .articles-list .article-container:nth-child(5), .articles-container .articles .articles-list .article-container:nth-child(6), .articles-container .articles .articles-list .article-container:nth-child(8), .articles-container .articles .articles-list .article-container:nth-child(9) {
  width: 50%;
  display: inline-block;
}
/* line 594, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container:nth-child(2) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(3) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(5) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(6) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(8) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(9) .article .main-image-container {
  height: 80px;
}
/* line 596, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container:nth-child(2) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(3) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(5) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(6) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(8) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(9) .article .main-image-container img {
  max-width: 100%;
}
/* line 605, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container:nth-child(2), .articles-container .articles .articles-list .article-container:nth-child(5), .articles-container .articles .articles-list .article-container:nth-child(8) {
  padding-right: 5px;
}
@media only screen and (min-width: 602px) {
  /* line 615, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container:nth-child(1) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(4) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(7) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(10) .article .main-image-container {
    height: 250px;
  }
  /* line 617, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container:nth-child(1) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(4) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(7) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(10) .article .main-image-container img {
    margin-left: 0px;
  }
  /* line 626, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container:nth-child(2), .articles-container .articles .articles-list .article-container:nth-child(5), .articles-container .articles .articles-list .article-container:nth-child(8) {
    padding: 10px;
  }
  /* line 632, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container:nth-child(2), .articles-container .articles .articles-list .article-container:nth-child(6), .articles-container .articles .articles-list .article-container:nth-child(9) {
    width: 50%;
  }
  /* line 635, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container:nth-child(2) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(6) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(9) .article .main-image-container {
    height: 250px;
  }
  /* line 637, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container:nth-child(2) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(6) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(9) .article .main-image-container img {
    max-width: 100%;
    margin-left: 0;
  }
  /* line 650, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container:nth-child(3), .articles-container .articles .articles-list .article-container:nth-child(4), .articles-container .articles .articles-list .article-container:nth-child(5), .articles-container .articles .articles-list .article-container:nth-child(8), .articles-container .articles .articles-list .article-container:nth-child(9), .articles-container .articles .articles-list .article-container:nth-child(10) {
    width: 33.3%;
  }
  /* line 653, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container:nth-child(3) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(4) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(5) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(8) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(9) .article .main-image-container, .articles-container .articles .articles-list .article-container:nth-child(10) .article .main-image-container {
    height: 160px;
  }
  /* line 655, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container:nth-child(3) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(4) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(5) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(8) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(9) .article .main-image-container img, .articles-container .articles .articles-list .article-container:nth-child(10) .article .main-image-container img {
    max-width: 100%;
  }
}
/* line 663, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 668, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .wp-caption-text {
  display: none;
}
/* line 671, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article img {
  display: none;
}
/* line 674, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article h1 {
  color: rgba(255, 255, 255, 0.8);
  padding: 0 20px 0 20px;
  font-size: 15px;
  margin-bottom: 0;
}
@media only screen and (min-width: 602px) {
  /* line 674, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container .article h1 {
    font-size: 20px;
  }
}
/* line 684, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article h1 a {
  color: white;
}
/* line 688, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .byline {
  font-size: 14px;
}
/* line 691, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article h2 {
  font-family: "Roboto";
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 20px 0 20px;
  margin-top: 10px;
  font-weight: normal;
}
@media only screen and (min-width: 602px) {
  /* line 691, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container .article h2 {
    font-size: 16px;
  }
}
/* line 704, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article p {
  font-family: "Roboto";
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 20px 0 20px;
  margin-top: 10px;
}
/* line 710, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article p a {
  font-size: 10px;
}
@media only screen and (min-width: 602px) {
  /* line 704, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container .article p {
    font-size: 16px;
  }
  /* line 716, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container .article p a {
    font-size: 14px;
  }
}
/* line 722, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .tags {
  font-size: 11px;
}
/* line 724, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .tags a {
  font-size: 11px;
}
/* line 729, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .category {
  display: none;
}
@media only screen and (min-width: 602px) {
  /* line 729, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container .article .category {
    position: absolute;
    top: 0;
    font-family: "Roboto";
    font-size: 10px;
    z-index: 100;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    color: white;
    margin-top: -8px;
    background-color: #E31515;
    font-size: 14px;
    margin-left: 8px;
    margin-top: -18px;
  }
}
/* line 749, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .category ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 754, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .category ul li a {
  color: white;
}
/* line 760, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .category:after {
  position: absolute;
  content: "";
  background-size: 20px 10px;
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  bottom: -10px;
  left: -5px;
}
/* line 772, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .category.anmeldelse {
  background-color: #E31515;
}
/* line 774, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .category.anmeldelse:after {
  background-image: url(../img/grey-flip.svg);
}
/* line 778, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .category.toppliste {
  background-color: #E31515;
}
/* line 780, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .category.toppliste:after {
  background-image: url(../img/grey-flip.svg);
}
/* line 787, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .comments {
  position: absolute;
  width: 50%;
  top: -22px;
  color: #d0d3d0;
  font-family: "Roboto";
  right: 0;
  text-align: right;
  border-bottom: 1px solid rgba(208, 211, 208, 0.5);
  z-index: 100;
}
/* line 800, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .main-image-container {
  height: 250px;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 807, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .main-image-container img {
  position: relative;
  display: block;
}
/* line 812, ../scss/sass/screen.scss */
.articles-container .articles .articles-list .article-container .article .main-image-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 602px) {
  /* line 812, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container .article .main-image-container:after {
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 60px 20px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 60px 20px inset;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 60px 20px inset;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 812, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container .article .main-image-container:after {
    -webkit-transition: box-shadow 200ms linear;
    -moz-transition: box-shadow 200ms linear;
    -o-transition: box-shadow 200ms linear;
    transition: box-shadow 200ms linear;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 830, ../scss/sass/screen.scss */
  .articles-container .articles .articles-list .article-container .article .main-image-container:hover:after {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 60px 0px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 60px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 60px 0px inset;
    -webkit-transition: box-shadow 200ms linear;
    -moz-transition: box-shadow 200ms linear;
    -o-transition: box-shadow 200ms linear;
    transition: box-shadow 200ms linear;
  }
}

/* line 842, ../scss/sass/screen.scss */
.article.fb-like {
  position: absolute;
  top: 350px;
  margin-left: 10px;
  z-index: 4000;
}

/* line 848, ../scss/sass/screen.scss */
.main-article {
  padding: 10px 0 100px 0;
  position: relative;
  text-align: center;
}
/* line 852, ../scss/sass/screen.scss */
.main-article h1, .main-article h2, .main-article h3, .main-article h4, .main-article h5, .main-article p, .main-article ul, .main-article ol, .main-article li, .main-article blockquote {
  text-align: left;
}
/* line 856, ../scss/sass/screen.scss */
.main-article h1 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto Slab";
  font-size: 40px;
  padding: 20px 20px 0px 20px;
  margin: 0;
  font-weight: normal;
}
@media only screen and (min-width: 602px) {
  /* line 856, ../scss/sass/screen.scss */
  .main-article h1 {
    font-size: 40px;
  }
}
/* line 867, ../scss/sass/screen.scss */
.main-article h2 {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: normal;
  padding: 0 20px 0 20px;
}
@media only screen and (min-width: 602px) {
  /* line 867, ../scss/sass/screen.scss */
  .main-article h2 {
    font-size: 30px;
  }
}
/* line 878, ../scss/sass/screen.scss */
.main-article h3, .main-article h4 {
  font-size: 18px;
  text-align: left;
  font-family: "Roboto Slab";
  color: #e31515;
  padding: 0 20px 0 20px;
}
@media only screen and (min-width: 602px) {
  /* line 878, ../scss/sass/screen.scss */
  .main-article h3, .main-article h4 {
    padding: 0 100px 0 100px;
    font-size: 28px;
  }
}
/* line 891, ../scss/sass/screen.scss */
.main-article img.aligncenter {
  margin: 0;
  padding: 0;
}
/* line 896, ../scss/sass/screen.scss */
.main-article .wp-caption {
  max-width: 400px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 899, ../scss/sass/screen.scss */
.main-article .wp-caption a {
  width: 100%;
}
/* line 904, ../scss/sass/screen.scss */
.main-article .wp-caption .wp-caption-text {
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  margin: 0;
  line-height: 1;
}
/* line 910, ../scss/sass/screen.scss */
.main-article .wp-caption img {
  max-width: 100%;
  min-width: 300px;
  padding: 0;
  margin: 0;
}
/* line 916, ../scss/sass/screen.scss */
.main-article .wp-caption.alignleft {
  float: left;
  margin: 10px 10px 10px 20px;
}
@media only screen and (min-width: 602px) {
  /* line 916, ../scss/sass/screen.scss */
  .main-article .wp-caption.alignleft {
    margin: 10px 10px 10px 100px;
  }
}
/* line 924, ../scss/sass/screen.scss */
.main-article .wp-caption.alignright {
  float: right;
  margin: 10px 20px 10px 10px;
}
@media only screen and (min-width: 602px) {
  /* line 924, ../scss/sass/screen.scss */
  .main-article .wp-caption.alignright {
    margin: 10px 100px 10px 10px;
  }
}
/* line 932, ../scss/sass/screen.scss */
.main-article .wp-caption.aligncenter, .main-article .wp-caption.alignnone {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  padding: 0;
  display: inline-block;
}
/* line 939, ../scss/sass/screen.scss */
.main-article .wp-caption.alignnone {
  text-align: left;
}
/* line 945, ../scss/sass/screen.scss */
.main-article h2 + .wp-caption,
.main-article .byline + .wp-caption,
.main-article h1 + .wp-caption {
  max-height: 600px;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
  margin: 0;
}
/* line 959, ../scss/sass/screen.scss */
.main-article h2 + .wp-caption img,
.main-article .byline + .wp-caption img,
.main-article h1 + .wp-caption img {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}
/* line 968, ../scss/sass/screen.scss */
.main-article img {
  max-width: 100%;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: 0;
}
/* line 975, ../scss/sass/screen.scss */
.main-article p:first-of-type {
  padding-top: 10px;
}
@media only screen and (min-width: 602px) {
  /* line 975, ../scss/sass/screen.scss */
  .main-article p:first-of-type {
    padding-top: 40px;
  }
}
/* line 982, ../scss/sass/screen.scss */
.main-article p {
  padding: 0 20px 20px 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-family: "Roboto";
  line-height: 1.5em;
}
/* line 989, ../scss/sass/screen.scss */
.main-article p.byline {
  font-size: 14px;
  padding: 0 20px 20px 20px;
}
@media only screen and (min-width: 602px) {
  /* line 982, ../scss/sass/screen.scss */
  .main-article p {
    padding: 0 100px 20px 100px;
    font-size: 18px;
  }
}
/* line 1000, ../scss/sass/screen.scss */
.main-article ol,
.main-article ul {
  color: rgba(255, 255, 255, 0.6);
  padding: 0 20px 20px 20px;
}
@media only screen and (min-width: 602px) {
  /* line 1000, ../scss/sass/screen.scss */
  .main-article ol,
  .main-article ul {
    padding: 0 100px 20px 100px;
  }
}
/* line 1009, ../scss/sass/screen.scss */
.main-article blockquote {
  padding: 0 20px 20px 20px;
}
@media only screen and (min-width: 602px) {
  /* line 1009, ../scss/sass/screen.scss */
  .main-article blockquote {
    padding: 0 100px 20px 100px;
  }
}
/* line 1014, ../scss/sass/screen.scss */
.main-article blockquote p {
  padding: 0;
  max-width: 50%;
  color: #e31515;
  font-size: 20px;
  font-family: "Roboto Slab";
  font-style: italic;
  word-wrap: break-word;
}
/* line 1022, ../scss/sass/screen.scss */
.main-article blockquote p:before {
  content: '"';
  font-size: 30px;
}
/* line 1026, ../scss/sass/screen.scss */
.main-article blockquote p:after {
  content: '"';
  font-size: 30px;
}
/* line 1032, ../scss/sass/screen.scss */
.main-article iframe {
  width: 100%;
  min-height: 270px;
}
@media only screen and (min-width: 602px) {
  /* line 1032, ../scss/sass/screen.scss */
  .main-article iframe {
    min-height: 500px;
  }
}

/* line 1041, ../scss/sass/screen.scss */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #0a0a0a;
  position: relative;
  min-height: 400px;
  padding-top: 50px;
}
/* line 1048, ../scss/sass/screen.scss */
.footer .footer-section {
  display: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 19%;
}
@media only screen and (min-width: 1000px) {
  /* line 1048, ../scss/sass/screen.scss */
  .footer .footer-section {
    display: inline-block;
  }
}
/* line 1053, ../scss/sass/screen.scss */
.footer .footer-section.mobile-section {
  display: inline-block;
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  /* line 1053, ../scss/sass/screen.scss */
  .footer .footer-section.mobile-section {
    width: 19%;
  }
}
/* line 1064, ../scss/sass/screen.scss */
.footer .footer-section .footer-paragraph {
  padding: 10px 20px 20px 20px;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
/* line 1070, ../scss/sass/screen.scss */
.footer .footer-section h4 {
  padding: 0 18px 10px 18px;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
/* line 1077, ../scss/sass/screen.scss */
.footer .footer-section ul {
  padding: 10px 0 0 40px;
  margin: 0 0 20px 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
/* line 1085, ../scss/sass/screen.scss */
.footer .footer-section .logo-rad-crew {
  display: inline-block;
  margin: 0 0 0 30px;
  text-indent: -99999px;
  width: 180px;
  height: 80px;
  background-image: url(../img/rad-crew-logo.jpg);
  background-size: 180px;
  background-repeat: no-repeat;
}
/* line 1099, ../scss/sass/screen.scss */
.footer .footer-section .spillmuseet-logo {
  display: inline-block;
  margin: 0 0 0 30px;
  width: 180px;
  height: 28px;
  background-image: url(../img/spillmuseet-horizontal.svg);
  background-size: 180px;
  background-repeat: no-repeat;
}

/* line 1115, ../scss/sass/screen.scss */
a {
  color: #E31515;
  text-decoration: none;
}

/* line 1120, ../scss/sass/screen.scss */
.gallery {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
/* line 1124, ../scss/sass/screen.scss */
.gallery.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  top: 0;
  left: 0;
}
/* line 1131, ../scss/sass/screen.scss */
.gallery.fullscreen .close-gallery-button {
  display: block;
  position: absolute;
  font-family: "Roboto";
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1006;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 1149, ../scss/sass/screen.scss */
.gallery.fullscreen .close-gallery-button:before {
  content: "";
  position: absolute;
  background-color: black;
  width: 0%;
  height: 0%;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 1160, ../scss/sass/screen.scss */
.gallery.fullscreen .close-gallery-button:after {
  content: "x";
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  font-size: 32px;
  margin-top: -25px;
  margin-left: -10px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 1175, ../scss/sass/screen.scss */
.gallery.fullscreen .close-gallery-button:hover:before {
  content: "";
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #e31515;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 1187, ../scss/sass/screen.scss */
.gallery.fullscreen .left-gallery-image-button,
.gallery.fullscreen .right-gallery-image-button {
  display: block;
  position: absolute;
  font-family: "Roboto";
  width: 80px;
  height: 80px;
  font-size: 28px;
  top: 50%;
  margin-top: -40px;
  z-index: 1006;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
}
/* line 1204, ../scss/sass/screen.scss */
.gallery.fullscreen .left-gallery-image-button:before,
.gallery.fullscreen .right-gallery-image-button:before {
  content: "";
  position: absolute;
  background-color: black;
  width: 0%;
  height: 0%;
  left: 50%;
  top: 50%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 1215, ../scss/sass/screen.scss */
.gallery.fullscreen .left-gallery-image-button:hover:before,
.gallery.fullscreen .right-gallery-image-button:hover:before {
  content: "";
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #e31515;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 1225, ../scss/sass/screen.scss */
.gallery.fullscreen .left-gallery-image-button:after,
.gallery.fullscreen .right-gallery-image-button:after {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  margin-left: -6px;
  z-index: 1007;
}
/* line 1234, ../scss/sass/screen.scss */
.gallery.fullscreen .left-gallery-image-button {
  left: 20px;
}
/* line 1236, ../scss/sass/screen.scss */
.gallery.fullscreen .left-gallery-image-button:after {
  content: "<";
}
/* line 1241, ../scss/sass/screen.scss */
.gallery.fullscreen .right-gallery-image-button {
  right: 20px;
}
/* line 1243, ../scss/sass/screen.scss */
.gallery.fullscreen .right-gallery-image-button:after {
  content: ">";
}
/* line 1248, ../scss/sass/screen.scss */
.gallery.fullscreen .gallery-item {
  width: 70px;
  height: 37px;
  z-index: 1003;
  position: relative;
  float: none;
}
/* line 1255, ../scss/sass/screen.scss */
.gallery.fullscreen .full-image {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-top: 180px solid transparent;
  top: 0;
}
/* line 1262, ../scss/sass/screen.scss */
.gallery.fullscreen .full-image .gallery-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
}
/* line 1270, ../scss/sass/screen.scss */
.gallery.fullscreen .full-image .gallery-item .gallery-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 1276, ../scss/sass/screen.scss */
.gallery.fullscreen .full-image .gallery-item .gallery-icon img {
  max-height: 100%;
}
/* line 1284, ../scss/sass/screen.scss */
.gallery .gallery-item {
  width: 13%;
  height: 50px;
  display: inline-block;
  float: left;
  margin: 6px;
  overflow: hidden;
}
/* line 1291, ../scss/sass/screen.scss */
.gallery .gallery-item .gallery-icon {
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 1295, ../scss/sass/screen.scss */
.gallery .gallery-item .gallery-icon img {
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 0;
}
/* line 1304, ../scss/sass/screen.scss */
.gallery .gallery-item .wp-caption-text {
  display: none;
}
/* line 1308, ../scss/sass/screen.scss */
.gallery .gallery-item.selected {
  border: 2px solid #e31515;
  margin: 4px;
}
/* line 1313, ../scss/sass/screen.scss */
.gallery .full-image {
  display: none;
}
/* line 1315, ../scss/sass/screen.scss */
.gallery .full-image .wp-caption-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1002;
  display: block;
  padding: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 0 0 0;
  text-align: left;
}

/* line 1329, ../scss/sass/screen.scss */
.page-numbers {
  padding: 0 30px 0 30px;
}
/* line 1331, ../scss/sass/screen.scss */
.page-numbers li {
  list-style: none;
  padding: 0;
  display: inline-block;
}
/* line 1335, ../scss/sass/screen.scss */
.page-numbers li a, .page-numbers li span {
  padding: 10px;
  display: inline-block;
}
/* line 1339, ../scss/sass/screen.scss */
.page-numbers li a {
  background: #e31515;
  color: white;
}

/* line 1346, ../scss/sass/screen.scss */
.fullscreen-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
/* line 1356, ../scss/sass/screen.scss */
.fullscreen-overlay.active {
  display: block;
}

/* line 1360, ../scss/sass/screen.scss */
#disqus_thread {
  padding: 0 20px 0 20px;
}
