// For making a keyframe animation
@mixin keying($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

$multiColumn: "only screen and (min-width : 700px)";
$otherThanPhone: "only screen and (min-width : 980px)";
$ipadPortrait: "only screen and (min-width : 980px)";
$ipadLandscape: "only screen and (min-width : 980px)";
$centeredMenu: "only screen and (min-width : 980px)";
$desktop: "only screen and (min-width : 1025px)";
$megaDesktop: "only screen and (min-width : 1290px)";

@font-face {
   font-family: 'Ubuntu';
      src: url('../fonts/Lato-Bold.ttf');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Ubuntu';
      src: url('../fonts/Raleway-ExtraBold.ttf');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'Ubuntu';
      src: url('../fonts/Lato-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Ubuntu';
      src: url('../fonts/Lato-Italic.ttf');
   font-weight: 400;
   font-style: italic;
}


$regularFont : 'Ubuntu';
$red : #E31515;
