.mobile-menu-toggle {
  display: none;
}

.main-navigation {
  background-color: $red;
  position: relative;
  z-index: 10001;

  @media #{$multiColumn} {
    #menu-toppmeny {
      display: inline-block;
      vertical-align: middle;
      .menu-item {
        display: inline-block;
        margin-right: -4px;
        a {
          display: block;
          position: relative;
          padding: 21px;
          text-transform: uppercase;
          font-size: 19px;
          letter-spacing: -1px;
          font-weight: 400;
          &.selected {
            background-color: darken($red, 10%);
          }
          &:after {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 4px;
            margin-top: 3px;
            vertical-align: baseline;
            content: "";
            background: {
              image: url(../img/arrow.svg);
              size: cover;
            }
          }
          &:hover {
            background-color: darken($red, 10%);
          }
        }
        .sub-menu {
          display: none;
        }
      }
    }
  }


  .logo-link {
    display: inline-block;
    width: 206px;
    height: 29px;
    margin: 10px;
    vertical-align: middle;
    cursor: pointer;
    background: {
      image: url(../img/spillmuseet-horizontal.svg);
      size: cover;
      repeat: no-repeat;
    }
  }

  form[role="search"] {
    
    display: none;
    .screen-reader-text {
      text-indent: -999999px;
      overflow: hidden;
      max-width: 1px;
      width: 1px;
      position: relative;
      display: none;

    }
    input[type="text"] {
      font-size: 18px;
      font-family: $regularFont, Verdana;
      background-color: black;
      border: 1px solid rgba(255,255,255,0.4);
      padding: 5px;
      margin: 0;
      color: white;
      width: 200px;
    }
    input[type="submit"] {
      margin: 0 0 0 0;
      padding: 0;
      font-size: 18px;
      font-family: $regularFont, Verdana;
      padding: 5px 10px 5px 10px;
      background-color: black;
      border: 1px solid rgba(255,255,255,0.4);
      margin-left: -5px;
      color: white;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    li {
      margin: 0;
      display: block;
      color: white;
      padding: 10px;
      position: relative;
      @media #{$multiColumn} {
        padding: 0;
      }
      .sub-menu {
        li {
          padding: 4px;
        }
      }

      &.menu-item-has-children {
        .sub-menu {
          #menu-item-10335,
          #menu-item-10336,
          #menu-item-10337,
          #menu-item-10607,
          #menu-item-10402,
          #menu-item-10994 {
          }
          #menu-item-10335 a,
          #menu-item-10336 a,
          #menu-item-10337 a,
          #menu-item-10607 a,
          #menu-item-10402 a,
          #menu-item-10994 a {
            display: inline-block;
            position: relative;
            width: 200px;
            height: 80px;
            margin: 10px;
            text-indent: -9999999px;
            background: {
              repeat: no-repeat;
              position: 8px 8px;
              size: 90%;
            }
          }

          #menu-item-10402 a {
            background-image: url(../img/nerdalert-nerdcast.png);
          }
          #menu-item-10607 a {
            background-image: url(../img/nerdalert-nerdview.png);
          }
          #menu-item-10336 a {
            background-image: url(../img/nerdalert-tankesmie.png);
          }
          #menu-item-10335 a {
            background-image: url(../img/nerdalert-nerdcastx.png);
          }
          #menu-item-10994 a {
            width: 318px;
            background-image: url(../img/nerdalert-retroreise.png);
          }
          a {
            &:after {
            }
          }
        }
      }
      a {
        color: white;
        font-size: 24px;
      }
    }
  }
}

.drop-down-nav {
  width: 100%;
  top: -320px;
  position: absolute;
  background-color: #3F0303;
  z-index: 10000;
  @include box-shadow(0 0 20px rgba(0,0,0,0.2));
  .subcategories {
    width: 100%;
    background-color: rgb(240,240,240);
    min-height: 58px;
    .sub-menu {
      list-style: none;
      margin: 0;
      padding: 5px;
      .menu-item {
        display: inline-block;
        margin: 5px 5px 5px 5px;
        @include box-shadow(1px 1px 0 rgba(0,0,0,0.2));
        a {
          display: block;
          padding: 10px;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          background-color: $red;
        }
      }
    }
  }
  .articles {
    width: 100%;
    min-height: 260px;
    max-height: 260px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 5px;
    .article-wrapper {
      display: inline-block;
      width: 240px;
      margin: 10px 10px 10px 5px;
      vertical-align: top;
      .article-container {
        width: 240px;
        height: 160px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        border: 4px solid white;
        .article-image {
          height: 100%;
        }
      }
      .article-header {
        color: white;
        margin: 0 0 100px 0;
        padding: 10px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 400;
      }
    }
  }
}