.rad-radio {
	display: inline-block;
	width: 280px;
	height: 87px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 41px;
	left: 50%;
	margin-left: -140px;
	@media #{$multiColumn} {
		width: 346px;
		margin-left: -173px;
	}
	@media #{$desktop} {
		top: 60px;
		margin-left: -190px;
	}
	border: 2px solid rgba(255,255,255,0.2);
	@include box-shadow(0 0 20px rgba(0,0,0,0.3));
	@include border-radius(4px);
	background-color: white;
	.podcast-image {
		height: 100%;
	}
	margin-top: 20px;
	cursor: pointer;

	.episode-details {
		text-align: left;
		display: inline-block;
		vertical-align: top;
		width: 64%;
		@media #{$multiColumn} {
			width: 74%;
		}
		.title {
			padding: 10px 28px 0 10px;
			margin: 0;
			font-size: 15px;
		}
		.date {
			margin: 0;
			color: $red;
			font-size: 16px;
			padding: 0px 10px 10px 10px;
		}
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: -9px;
		width: 130px;
		height: 100px;
		background-image: url(../img/play-button.svg);
		background-repeat: no-repeat;
		background-size: 130px 100px;
		z-index: 100;
		background-position: -17px -10px;
	}
	&:before {
		content: "Nyeste episode!";
		text-align: center;
		color: white;
		width: 40px;
		@include border-radius(50%);
		height: 40px;
		padding: 14px;
		background-color: $red;
		right: -20px;
		top: -7px;
		position: absolute;
	}
}