.videos-wrapper {
	display: none;
	@media #{$otherThanPhone} {
		display: block;
		padding: 0 0 20px 0;
		border-top: 1px solid rgba(255,255,255,0.6);
		border-bottom: 1px solid rgba(255,255,255,0.6);
		margin-bottom: 20px;


		.videos-container {
			.video-container {
				display: inline-block;
				width: 33%;
				height: 100px;
				vertical-align: top;
				float: right;
				border-bottom: 1px solid black;
				position: relative;
				background-color: rgba(20,20,20,1);
				cursor: pointer;

				&.active {
					background-color: #471210;
				}

				&:hover {
					background-color: rgba(40,40,40,1);
				}

				.video {
					display: none;
				}
				.video-image {
					display: inline-block;
					vertical-align: top;
					position: relative;
					width: 130px;
					height: 100px;
					overflow: hidden;
					cursor: pointer;
					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 130px;
						height: 100px;
						background: {
							image: url(../img/play-button.svg);
							repeat: no-repeat;
							size: 130px 100px;
						}
						z-index: 100;
					}
					img {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
					}
				}
				.video-title {
					position: absolute;
					width: 100%;
					display: block;
					vertical-align: top;
					padding: 10px;
					border-left: 130px solid transparent;
					top: 0;
					left: 0;
					color: rgba(255,255,255,0.8);
					font-size: 14px;
					cursor: pointer;
					h2 {
						font-size: 16px;
						padding: 0;
						margin: 0;
						font-weight: normal;
					}
				}
			}

			.video-container:nth-child(1) {
				width: 66%;
				overflow: hidden;
				height: auto;
				float: left;
				.video {
					display: inline-block;
					width: 100%;
					height: 388px;
					p {
						padding: 0;
						margin: 0;

					}
					iframe {
						width: 100%;
						height: 388px;
					}
				}
				.video-image {
					display: none;
				}
				.video-title {
					display: none;
				}
			}
			&:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}
		}
		.videos-title {
			padding: 20px 20px 20px 20px;
			margin: 0;
			.spillmuseet-text {
				color: $red;
			}
		}
	}
}