/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "animation";
@import "_base";


$otherThanPhone: "only screen and (min-width : 602px)";
$otherThanPhoneAndIpad: "only screen and (min-width : 1025px)";

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,400italic);



$regularFont : 'Roboto Slab';
$thinFont : 'Roboto';
$red : #E31515;

@include keying(playing) {
  from {
    background-position: 0px;
  }
  to {
    background-position: -300px;
  }
}

@include keying(goombaAnimation) {
  from {
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 0;
  }
  to {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
  }
}

@include keying(jumping) {
  0% {
    left: -5%;
    top: 80px;
  }
  30%,90% {
    top: 100px;
  }
  60% {
    top: 80px;
  }
  100% {
    top: 100px;
    left: 110%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $regularFont;
  background-color: rgba(0,0,0,1);
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
}

div, li, ul, span, img,h1,h2,h3 {
  @include box-sizing(border-box);
}

a {
  font-family: $regularFont;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: {
    image: url(../img/top-header.jpg);
    position: center top;
    attachment: fixed;
  }
  height: 190px;
  overflow: hidden;
  @media #{$otherThanPhoneAndIpad} {
    @include transition(background-position 200ms linear);
  }

  &.tiny {
    background: {
      position: auto -50px;
    }
    @media #{$otherThanPhoneAndIpad} {
      @include transition(background-position 200ms linear);
    }
  }

  .link-sprite-container {
    position: fixed;
    top: 10px;
    width: 50px;
    height: 50px;
    
    @include animation(jumping 10s infinite linear);
    @media #{$otherThanPhoneAndIpad} {
      @include animation(jumping 15s infinite linear);  
    }
    .link-sprite {
      width: 50px;
      height: 50px;
      background: url(../img/link-sprite.png);
      @include animation(playing 0.2s infinite steps(6));
      @media #{$otherThanPhoneAndIpad} {
        @include animation(playing 0.5s infinite steps(6));
      }
    }
  }

  .logo-image {
    width: 200px;
    height: 163px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -100px;
    z-index: 300;
    @include box-sizing(border-box);
    @include box-shadow(rgba(0,0,0,0.3) 0 0 30px 2px);

    background: {
      image: url(../img/spillmuseet_bart_inverse_new.svg);
      size: 200px auto;
      repeat: no-repeat;
      background-position: 0 0;
      @include transition(background-position 200ms linear, height 200ms linear);
    }
  }
}
.articles-container {
  width: 100%;
  position: relative;
  z-index: 1000;
  background-color: rgba(0,0,0,1);

  .articles {
    position: relative;
    z-index: 1002;
    border: 1px solid rgba(255,255,255,0.1);

    @media #{$otherThanPhone} {
      width: 980px;
    }
    margin: 190px auto 0 auto;
    background-color: rgba(0,0,0,1);

    .archive-title {
      position: absolute;
      padding-left: 10px;
      top: 33px;
      width: 100%;
      display: block;
      font-size: 24px;
      text-align: center;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255,0.1);
        bottom: 0;
      }
    }

    .main-navigation {
      position: absolute;
      width: 980px;
      left: 50%;
      margin-left: -490px;
      padding: 0;
      height: 46px;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      text-align: center;

      @include box-sizing(border-box);

      .tiny-logo {
        position: absolute;
        left: 0;
        top: -1px;
        display: none;
        background: {
          image: url(../img/spillmuseet-horizontal.svg);
          size: 178px 58px;
          position:  0 0;
          repeat: no-repeat;
        }
        width: 50px;
        height: 46px;
        @media #{$otherThanPhoneAndIpad} {
          @include transition(background-position 100ms linear);
        }
      }

      &.tiny {
        position: fixed;
        left:0;
        width: 100%;
        top: 0;
        margin-top: -46px;
        margin-left: 0;
        z-index: 500;
        height: 46px;
        background-color: rgba(0,0,0,1);

        
        .tiny-logo {
          @media #{$otherThanPhoneAndIpad} {
            @include transition(background-position 100ms linear);
          }
          
        }
        ul {
          @media #{$otherThanPhoneAndIpad} {
            @include transition(margin-left 100ms linear);
          }
        }
      }

      ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none;
        @media #{$otherThanPhoneAndIpad} {
          @include transition(margin-left 100ms linear);
        }

        li {
          position: relative;
          display: inline-block;

          .sub-menu {
            display: none;
          }

          &.current-menu-item {
            a {
              background-color: $red;
            }
          }

          &:hover {
            background-color: $red;
            .sub-menu {
              background-color: red;
              position: absolute;
              list-style: none;
              padding: 0;
              margin: 0;
              display: block;
              z-index: 500;
              left: 0;
              top: 46px;
              li {
                width: 100%;
                display: block;
                a {
                }
              }
            }
          }

          &:hover {
             
          }

          a {
            color: white;
            font-family: $regularFont;
            text-decoration: none;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 13px 15px 9px 15px;
            display: block;

            &:hover {
              background-color: rgba(0,0,0,0.2);
            }
          }
        }
      }
    }

    .articles-list {
      list-style: none;
      padding: 50px 0 0 0;
      margin: 0;

      .article-container {
        @include box-sizing(border-box);
        padding: 10px;
        vertical-align: top;

        @media #{$otherThanPhone} {
          width: 50%;
          display: inline-block;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          width: 33.3%;
          .article {
            .main-image-container {
              height: 160px;
              img {
                max-width: 100%;
              }
            }
          }
        }

        .article {
          position: relative;
          margin-bottom: 20px;
          border: 1px solid rgba(255,255,255,0.1);

          .wp-caption-text {
            display: none;
          }
          img {
            display: none;
          }
          h1 {
            color: rgba(255,255,255,0.8);
            padding: 0 20px 0 20px;
            font-size: 20px;
            margin-bottom: 0;

            a {
              color: white;
            }
          }
          .byline {
            font-size: 14px;
          }
          h2 {
            font-family: $thinFont;
            font-size: 16px;
            color: rgba(255,255,255,0.6);
            padding: 0 20px 0 20px;
            margin-top: 10px;
            font-weight: normal;
          }

          p {
            font-family: $thinFont;
            font-size: 16px;
            color: rgba(255,255,255,0.6);
            padding: 0 20px 0 20px;
            margin-top: 10px;
            a {
              font-size: 14px;
            }
          }

          .tags {
            font-size: 11px;
            a {
              font-size: 11px;
            }
          }

          .category {
            position: absolute;
            top: 0;
            font-family: $thinFont;
            font-size: 14px;
            z-index: 100;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            color: white;
            margin-top: -18px;
            margin-left: 8px;
            background-color: #E31515;

            ul {
              padding: 0;
              margin: 0;
              list-style: none;
              li {
                a {
                  color: white;
                }
              }
            }

            &:after {
              position: absolute;
              content: "";
              background: {
                size: 20px 10px;
                repeat: no-repeat;
              }
              width: 20px;
              height: 10px;
              bottom: -10px;
              left: -5px;
            }
            &.anmeldelse {
              background-color: #E31515;
              &:after {
                background-image: url(../img/grey-flip.svg);
              }
            }
            &.toppliste {
              background-color: #E31515;
              &:after {
                background-image: url(../img/grey-flip.svg);
              }
            }

          }

          .comments {
            position: absolute;
            width: 50%;
            top: -22px;
            color: rgba(208,211,208,1);
            font-family: $thinFont;
            right: 0;
            text-align: right;
            border-bottom: 1px solid rgba(208,211,208,0.5);
            z-index: 100;

          }

          .main-image-container {
            height: 200px;
            position: relative;
            overflow: hidden;
            @include box-sizing(border-box);
            border-bottom: 1px solid rgba(255,255,255,0.5);

            img {
              position: relative;
              display: block;
            }

            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              @include box-shadow(rgba(0,0,0,0.6) 0 0 60px 20px inset);
              @media #{$otherThanPhoneAndIpad} {
                @include transition(box-shadow 200ms linear);
              }
            }
            @media #{$otherThanPhoneAndIpad} {
              &:hover {
                &:after {
                  @include box-shadow(rgba(0,0,0,0.1) 0 0 60px 0px inset);
                  @include transition(box-shadow 200ms linear);
                }
              }
            }
          }
        }
      }
    }
  }
}
.article.fb-like {
  position: absolute;
  top: 350px;
  margin-left: 10px;
  z-index: 4000;
}
.main-article {
  padding: 10px 0 100px 0;
  position: relative;
  h1 {
    color: rgba(255,255,255,0.8);
    font-family: $regularFont;
    font-size: 40px;
    padding: 20px 20px 0px 20px;
    margin: 0;
    font-weight: normal;

  }
  h2 {
    color: rgba(255,255,255,0.4);
    font-family: $regularFont;
    font-size: 30px;
    font-weight: normal;
    padding: 0 20px 0 20px;
  }

  h3 {
    font-size: 24px;
    text-align: center;
    font-family: $regularFont;
    color: $red;
  }
  .wp-caption {
    max-width: 400px;
    overflow: hidden;
    a {
      width: 100%;
    }

    border: 1px solid rgba(255,255,255,0.1);
    .wp-caption-text {
      padding: 10px 10px 10px 10px;
      font-size: 14px;
      margin: 0;
      line-height: 1;
    }
    img {
      max-width: 100%;
      min-width: 300px;
      padding: 0;
      margin: 0;
    }
    &.alignleft {
      float: left;
      margin: 10px 10px 10px -1px;
    }
    &.alignright {
      float: right;
      margin: 10px -1px 10px 10px;
    }
    &.aligncenter,
    &.alignnone {
      margin: 10px auto;
      text-align: center;
      max-width: 100%;
    }
    &.alignnone {
      text-align: left;
    }
  }
  h2 + .wp-caption,
  .byline + .wp-caption,
  h1 + .wp-caption {
    max-height: 600px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    border: 0;
    margin:0;
    padding: 0;
    border-top: 1px solid rgba(255,255,255, 0.1);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    padding: 0;
    margin: 0;
    

    img {
      border: 0;
      padding: 0;
      margin:0;
      width: 100%;
      height: auto;
    }
  }

  img {
    max-width: 100%;
    padding: 5px;
    border: 1px solid rgba(255,255,255,0.4);
    margin: 10px;
  }

  p {
    padding: 0 100px 20px 100px;
    font-size: 18px;
    color: rgba(255,255,255,0.6);
    font-weight: normal;
    font-family: $thinFont;
    line-height: 1.5em;
    &.byline {
      font-size: 14px;
      padding: 0 20px 20px 20px;
    }
  }

  ol,
  ul {
    padding: 0 100px 20px 100px;
    color: rgba(255,255,255,0.6);
  }

  blockquote {
    padding: 0 100px 20px 100px;
    p {
      padding: 0;
      max-width: 50%;
      color: $red;
      font-size: 20px;
      font-family: $regularFont;
      font-style: italic;
      word-wrap: break-word;
      &:before {
        content: '"';
        font-size: 30px;
      }
      &:after {
        content: '"';
        font-size: 30px;
      }
    }
  }
  iframe {
    width: 100%;
    min-height: 500px;
  }
}


a {
  color: #E31515;
  text-decoration: none;
}

.gallery {
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;

  &.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1001;
    top: 0;
    left: 0;
    .close-gallery-button {
      display: block;
      position: absolute;
      font-family: $thinFont;
      right: 20px;
      bottom: 20px;
      width: 80px;
      height: 80px;

      border-radius: 50%;
      z-index: 1006;
      border: 1px solid white;
      background: transparent;
      cursor:pointer;
      padding: 10px;
      overflow:hidden;
      @include transition(all 300ms ease);

      &:before {
        content: "";
        position: absolute;
        background-color: black;
        width: 0%;
        height: 0%;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        @include transition(all 300ms ease);
      }
      &:after {
        content: "x";
        position: absolute;
        left: 50%;
        top: 50%;
        color: white;
        font-size: 32px;
        margin-top: -25px;
        margin-left: -10px;
        @include transition(all 300ms ease);
      }

      &:hover {
        &:after {
        }
        &:before {
          content: "";
          top: 10%;
          left: 10%;
          width: 80%;
          height: 80%;
          background-color: $red;
          @include transition(all 300ms ease);
        }
      }
    }
    .left-gallery-image-button,
    .right-gallery-image-button {
      display: block;
      position: absolute;
      font-family: $thinFont;
      width: 80px;
      height: 80px;
      font-size: 28px;
      top: 50%;
      margin-top: -40px;
      z-index: 1006;
      border: 1px solid white;
      background: transparent;
      cursor:pointer;
      padding: 10px;
      overflow:hidden;
      @include transition(all 300ms ease);
      color: white;
      &:before {
        content: "";
        position: absolute;
        background-color: black;
        width: 0%;
        height: 0%;
        left: 50%;
        top: 50%;
        @include transition(all 300ms ease);
      }
      &:hover {
        &:before {
          content: "";
          top: 10%;
          left: 10%;
          width: 80%;
          height: 80%;
          background-color: $red;
          @include transition(all 300ms ease);
        }
      }
      &:after {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        margin-left: -6px;
        z-index: 1007;
      }
    }

    .left-gallery-image-button {
      left: 20px;
      &:after {
        content: "<";
      }
    }

    .right-gallery-image-button {
      right: 20px;
      &:after {
        content: ">";
      }
    }

    .gallery-item {
      width: 70px;
      height: 37px;
      z-index: 1003;
      position: relative;
      float: none;
    }
    .full-image {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      border-top: 180px solid transparent;
      top: 0;
      .gallery-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        .gallery-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          img {
            max-height: 100%;
          }
        }
      }
    }
  }

  .gallery-item {
    width: 13%;
    height: 50px;
    display: inline-block;
    float: left;
    margin: 6px;
    overflow: hidden;
    .gallery-icon {
      border: 0;
      padding: 0;
      margin: 0;
      img {
        padding: 0;
        margin: 0;
        max-width: 100%;
        border: 0;

      }      
    }

    .wp-caption-text {
        display: none;
    }

    &.selected {
      border: 2px solid $red;
      margin: 4px;
    }
  }
  .full-image {
    display: none;
    .wp-caption-text {
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 1002;
      display: block;
      padding: 10px 10px 10px 10px;
      background-color: rgba(0,0,0,0.5);
      margin: 0 0 0 0;
      text-align: left;
    }
  }
}

.follow {
  text-align: center;
  margin-top: 53px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  width: 100%;
  font-style: italic;
  vertical-align: middle;
  .red {
    color: $red;
  }
  .fb-like {
    padding-left: 10px;
    display: inline-block;
  }
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.fullscreen-overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;

  &.active {
    display: block;
  }
}