/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "animation";
@import "_base";
@import "_video";
@import "_rad-radio";
@import "_navigation";
@import "_duck-hunt";

.link-sprite-container {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  
  @include animation(jumping 10s infinite linear);
  @media #{$desktop} {
    @include animation(jumping 15s infinite linear);
  }
  .link-sprite {
    width: 50px;
    height: 50px;
    background: url(../img/link-sprite.png);
    @include animation(playing 0.2s infinite steps(6));
    @media #{$desktop} {
      @include animation(playing 0.5s infinite steps(6));
    }
  }
}

@include keying(playing) {
  from {
    background-position: 0px;
  }
  to {
    background-position: -300px;
  }
}

@include keying(goombaAnimation) {
  from {
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 0;
  }
  to {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
  }
}

@include keying(jumping) {
  0% {
    left: 0;
    top: 40px;
  }
  30%,90% {
    top: 60px;
  }
  60% {
    top: 40px;
  }
  100% {
    top: 60px;
    left: 100%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $regularFont, verdana;
  background-color: #ececec;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
  background: {
    image: url(../img/page-background.png);
    position: center top;
    repeat: repeat;
    attachment: fixed;
  }
}

div, li, ul, span, img,h1,h2,h3,p,a {
  @include box-sizing(border-box);
}

a {
  font-family: $regularFont, Verdana;
}



.articles-container {


  width: 100%;
  max-width: 980px;
  position: relative;
  margin: 0 auto 0 auto;
  z-index: 1000;
  padding-top: 20px;
  //background-color: white;
  overflow-x: hidden;

  @media #{$desktop} {


  }
  @media #{$megaDesktop} {
    max-width: 1300px;
  }
  .view-header-container {
    .view-header {
      background: rgba(0,0,0,0.8);
      padding: 10px;
      color: white;
      display: inline-block;
      margin: 0;
      font-size: 16px;
    }
  }
  .podcasts {
    display: none;
    @media #{$megaDesktop} {
      display: block;
      width: 306px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 20px;
      .episode-container {
        position: relative;
        margin-bottom: 4px;
        overflow: hidden;
        height: 120px;
        cursor: pointer;
        //border: 4px solid white;
        .image-container {
          width: 40%;
          height: 120px;
          overflow: hidden;
          background-color: white;

          .image {
            max-height: 110%;
          }

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            z-index: 100;
            @include transition(all 200ms ease-in-out);
          }
        }
        .information-container {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 60%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.8);
          .episode-title {
            margin: 0;
            color: white;
            font-size: 14px;
            padding: 10px 10px 5px 10px;
          }
          .episode-date {
            margin: 0;
            color: rgb(240,240,240);
            font-size: 12px;
            padding: 5px 10px 10px 10px;
          }
          &:before {
            position: absolute;
            content: '';
            top: 14px;
            left: -126px;
            width: 100px;
            height: 100px;
            background: {
              size: cover;
              image: url('../img/play-button.svg');
            }
          }
        }
        &:after {
          content: ".";
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0;
        }
      }
    }
  }
  .articles {
    position: relative;
    z-index: 1002;
    padding: 0 0 20px;
    margin-top: 66px;

    @media #{$multiColumn} {
      margin-top: 0;
    }

    @media #{$desktop} {
    }
    @media #{$ipadLandscape} {
      width: 980px;

    }
    @media #{$desktop} {
      max-width:980px;
      display: inline-block;
    }
    @media #{$megaDesktop} {
      width:980px;
      vertical-align: top;
    }


    .archive-title {
      position: absolute;
      padding-left: 10px;
      top: 33px;
      width: 100%;
      display: block;
      font-size: 24px;
      text-align: center;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255,0.1);
        bottom: 0;
      }
    }

    .articles-list {
      border-top: 1px solid transparent;
      margin: 0 0 0 0;
      padding: 0;
      list-style: none;
      position: relative;
      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }

      @media #{$multiColumn} {
        &.search-list {
          li {
            width: 50%;
            .main-image-container {
              img {
                margin-left: 0;
              }
            }
          }
        }
      }


      .article-snippet {
        overflow: hidden;
        position: relative;
        @media #{$desktop} {
        }
        @media #{$multiColumn} {
        }
        @include transition(all 400ms linear);
        .wp-post-image {
          width: 100%;
        }
        .main-image-container {
          margin: 0 0 -4px 0;
          @media #{$multiColumn} {
            margin: 0 0 0 0;
            height: 100%;
            &:after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              @include box-shadow(inset 0 0 60px rgba(0,0,0,0.3));
            }
          }
          .wp-post-image {
            width: 100%;
            @media #{$multiColumn} {
              width: auto;
              min-width: 100%;
            }
            @media #{$desktop} {
              width: auto;
              margin-left: -15%;
            }
          }
        }
        .article-snippet-header-container {
          position: relative;
          border-bottom: 1px solid white;
          background-color: rgba(255,255,255,0.9);
          padding: 10px;
          margin: 0;
          font-weight: 800;
          @media #{$multiColumn} {
            position: absolute;
            bottom: 10px;
            left: 2%;
            border: none;
            max-width: 94%;
          }
          .article-category-container {
            display: block;
            position: absolute;
            left: 0;
            top: -40px;
            .article-category {
              font-size: 16px;
              color: white;
              background-color: rgba(0,0,0,0.8);
              padding: 10px;
            }
          }
          .article-snippet-header {
            font-size: 22px;
            color: white;
            margin: 0;

            .article-snippet-header-link {
              color: rgb(100,100,100);
            }
          }
        }
      }
      @media #{$multiColumn} {
        #article-1 {
          width: 100%;
          border-bottom: 3px solid transparent;
          overflow:hidden;
          .main-image-container {
            max-height: 500px;
            .wp-post-image {
              margin-left: 0;
              width: 100%;
            }
          }
          .article-snippet-header-container {
            position: absolute;
            border-bottom: 3px solid transparent;
            .article-snippet-header {
              font-size: 50px;
            }
          }
        }
        #article-2 {
          border-right: 3px solid transparent;
        }
        #article-2,
        #article-3 {
          height: 300px;
          width: 50%;
          border-bottom: 3px solid transparent;
          float: left;
          .wp-post-image {
            max-width: 150%;
          }
          .article-snippet-header {
            font-size: 33px;
          }
        }
        #article-ad {
          width: 100%;
          height: auto;
          .wp-post-image {
            max-width: 100%;
          }
        }
        #article-4 {
          width: 66.6%;
          float: left;
          max-height: 490px;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          .article-snippet-header {
            font-size: 40px;
          }
        }
        #article-5,
        #article-6 {
          width: 33.3333%;
          float: right;
          height: 245px;
          border-bottom: 3px solid transparent;
          .wp-post-image {
            margin-left: -26%;
          }
          .article-snippet-header {
            font-size: 18px;
          }
        }
        #article-7 {
          float:left;
          width: 66.6%;
          max-height: 245px;
          border-bottom: 3px solid transparent;
          border-right: 3px solid transparent;
          .wp-post-image {
            margin-top: -15%;
          }
          .article-snippet-header {
            font-size: 23px;
          }
        }
        #article-8 {
          float:right;
          width: 33.3333%;
          height: 245px;
          border-bottom: 3px solid transparent;
          .article-snippet-header {
            font-size: 18px;
          }
        }
        #article-9,
        #article-10 {
          border-bottom: 3px solid transparent;
          border-right: 3px solid transparent;
        }
        #article-11 {
          border-bottom: 3px solid transparent;
        }
        #article-9,
        #article-10,
        #article-11 {
          float:left;
          width: 33.3333%;
          .wp-post-image {
            margin-left: -26%;
          }
          max-height: 237px;
          .article-snippet-header {
            font-size: 18px;
          }
        }
        #article-12 {
          width: 66.6%;
          float: left;
          max-height: 490px;
          border-bottom: 3px solid transparent;
          border-right: 3px solid transparent;
          .article-snippet-header {
            font-size: 36px;
          }
        }
        #article-13,
        #article-14 {
          width: 33.3333%;
          float: right;
          max-height: 245px;
          border-bottom: 3px solid transparent;
        }
        #article-15 {
          float:left;
          width: 33.3333%;
          max-height: 245px;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
        }
        #article-16 {
          float:right;
          width: 66.6%;
          max-height: 245px;
          border-bottom: 3px solid transparent;
          .wp-post-image {
            margin-top: -15%;
          }
        }
        #article-17 {
          float:right;
          width: 100%;
          border-bottom: 3px solid transparent;
          .article-snippet-header {
            font-size: 40px;
          }
          .wp-post-image {
            margin-left: 0;
          }
        }
        #article-18,
        #article-19 {
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
        }

        #article-20 {
          border-bottom: 3px solid transparent;
        }

        #article-18,
        #article-19,
        #article-20 {
          float:left;
          width: 33.3333%;
          max-height: 245px;
          .article-snippet-header {
            font-size: 23px;
          }
        }
      }
    }
  }
}
.article.fb-like {
  position: absolute;
  top: 350px;
  margin-left: 10px;
  z-index: 4000;
}
.main-article {
  padding: 10px 0 100px 0;
  position: relative;
  text-align: center;
  background-color: white;
  h1,h2,h3,h4,h5,p,ul,ol,li,blockquote {
    text-align: left;
  }

  .article-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  h1 {
    color: rgba(0,0,0,0.8);
    font-family: $regularFont, Verdana;
    font-size: 40px;
    padding: 20px 20px 0px 20px;
    margin: 0;
    font-weight: normal;
    @media #{$otherThanPhone} {
      font-size: 60px;
      font-weight: bold;
    }
  }
  h2 {
    color: rgba(0,0,0,0.4);
    font-family: $regularFont, Verdana;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px 0 20px;
    @media #{$otherThanPhone} {
      font-size: 40px;
      font-weight: 400;
    }
  }

  h3,h4 {
    font-size: 18px;
    text-align: left;
    font-family: $regularFont, Verdana;
    color: $red;
    padding: 0 20px 0 20px;
    @media #{$otherThanPhone} {
      padding: 0 100px 0 100px;
      font-size: 28px;
    }
    
  }
  .wp-post-image {
    &.aligncenter {
      margin: 0;
      padding: 0;
    }
  }
  .wp-caption {
    max-width: 400px;
    overflow: hidden;
    a {
      width: 100%;
    }

    border: 1px solid rgba(0,0,0,0.1);
    .wp-caption-text {
      padding: 10px 10px 10px 10px;
      font-size: 14px;
      margin: -4px 0 0 0;
      background-color: black;
      color: white;
    }
    img {
      max-width: 100%;
      padding: 0;
      margin: 0;
    }
    &.alignleft {
      float: left;
      margin: 10px 10px 10px 20px;
      @media #{$otherThanPhone} {
        margin: 10px 10px 10px 100px;
      }

    }
    &.alignright {
      float: right;
      margin: 10px 20px 10px 10px;
      @media #{$otherThanPhone} {
        margin: 10px 100px 10px 10px;
      }
    }
    &.aligncenter,
    &.alignnone {
      margin: 0 auto;
      text-align: center;
      max-width: 100%;
      padding: 0;
      display: inline-block;
    }
    &.alignnone {
      text-align: left;
    }
  }
  h2 + .wp-caption,
  .byline + .wp-caption,
  h1 + .wp-caption {
    max-height: 600px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    border: 0;
    margin:0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding: 0;
    margin: 0;
    

    img {
      border: 0;
      padding: 0;
      margin:0;
      width: 100%;
      height: auto;
    }
  }

  img {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  p:first-of-type {
    padding-top: 10px;
    @media #{$otherThanPhone} {
      padding-top: 40px;
    }
  }

  p,
  h5 {
    padding: 0 20px 20px 20px;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    font-weight: normal;
    font-family: $thinFont, Verdana;
    line-height: 1.5em;
    &.byline {
      position: relative;
      img {
        float: left;
        padding-right: 10px;
        border: 0;
        @include border-radius(50%);
      }

      .author {
        font-size: 20px;
      }

      .date {
        font-size: 14px;
      }

      .author-bio {
        display: none;
        @media #{$otherThanPhone} {
          display: block;
          font-size: 14px; 
          position: absolute;
          left: 270px;
          top: 0;
          max-width: 400px;
        }
      }

      padding: 0 20px 20px 20px;
    }
    @media #{$otherThanPhone} {
      padding: 0 120px 20px 120px;
      font-size: 16px;
    }
  }

  ol,
  ul {
    color: rgba(0,0,0,0.6);
    padding: 0 20px 20px 20px;
    @media #{$otherThanPhone} {
      padding: 0 100px 20px 100px;
    }
    
  }

  blockquote {
    padding: 0 20px 20px 20px;
    @media #{$otherThanPhone} {
      padding: 0 100px 20px 100px;
    }
    p {
      padding: 0;
      max-width: 50%;
      color: $red;
      font-size: 20px;
      font-family: $regularFont, Verdana;
      font-style: italic;
      word-wrap: break-word;
      &:before {
        content: '"';
        font-size: 30px;
      }
      &:after {
        content: '"';
        font-size: 30px;
      }
    }
  }
  iframe {
    width: 100%;
    &.__youtube_prefs__ {
      min-height: 270px;
    }
    @media #{$otherThanPhone} {
      &.__youtube_prefs__ {
        min-height: 500px;
      }
    }
  }
}

.footer {
  border-top: 1px solid rgba(255,255,255,0.1);

  background-color: rgba(20,20,20,1);
  position: relative;
  min-height: 400px;
  padding-top: 50px;
  .footer-section {
    display: none;
    @media #{$ipadLandscape} {
      display: inline-block;
    }
    &.mobile-section {
      display: inline-block;
      width: 100%;
      @media #{$ipadLandscape} {
        width: 19%;
      }
    }
    border-right: 1px solid rgba(255,255,255,0.1);
    height: 100%;
    vertical-align: top;
    @include box-sizing(border-box);
    .footer-paragraph {
      padding: 10px 20px 20px 20px;
      margin: 0;
      color: rgba(255,255,255,0.5);
      font-size: 14px;
    }
    h4 {
      padding: 0 18px 10px 18px;
      margin: 0;
      font-size: 16px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.8);
    }
    ul {
      padding: 10px 0 0 40px;
      margin: 0 0 20px 0;
      color: rgba(255,255,255,0.6);
      font-size: 14px;
    }
    width: 19%;

    .logo-rad-crew {
      display: inline-block;
      margin: 0 0 0 30px;
      text-indent: -99999px;

      width: 180px;
      height: 80px;
      background: {
        image: url(../img/rad-crew-logo.jpg);
        size: 180px;
        repeat: no-repeat;
      }
    }

    .logo-playstation {
      display: inline-block;
      margin: 0 0 0 30px;
      text-indent: -99999px;

      width: 180px;
      height: 80px;
      background: {
        image: url(../img/playstation-logo.png);
        size: 180px;
        repeat: no-repeat;
      }
    }

    .logo-spillexpo {
      display: inline-block;
      margin: 0 0 0 30px;
      text-indent: -99999px;

      width: 180px;
      height: 102px;
      background: {
        image: url(../img/spillexpo-logo.png);
        size: 180px;
        repeat: no-repeat;
      }
    }

    .logo-alphageek {
      display: inline-block;
      margin: 20px 0 0 30px;
      text-indent: -99999px;

      width: 180px;
      height: 57px;
      background: {
        image: url(../img/alphageek-logo.png);
        size: 180px;
        repeat: no-repeat;
      }
    }

    .spillmuseet-logo {
      display: inline-block;
      margin: 0 0 0 14px;

      width: 180px;
      height: 28px;
      background: {
        image: url(../img/spillmuseet-horizontal.svg);
        size: 180px;
        repeat: no-repeat;
      }
    }
  }
}


a {
  color: #E31515;
  text-decoration: none;
}
.pagination {
  text-align: center;

  .page-numbers {
    padding: 0 30px 0 30px;
    li {
      list-style: none;
      padding: 0;
      display: inline-block;
      a,span {
        padding: 10px;
        display: inline-block;
      }
      a {
        background: $red;
        color: white;
      }
    }
  }
}

.fullscreen-overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;

  &.active {
    display: block;
  }
}
#disqus_thread {
  padding: 0 20px 0 20px;
}

.category-view {

  .article-container {
    background-color: white;
    position: relative;
    margin-bottom: 10px;

    .wp-post-image {
      max-width: 100%;
    }
    @media #{$multiColumn} {
      display: inline-block;
      width: 49.5%;
      
      float: left;
      &#first-post {
        width: 100%;
        h2 {
          font-size: 46px;
        }
      }
      &.list-column-1 {
        margin-right: 1%;
      }
    }
    h2 {
      background-color: rgba(0,0,0,0.8);
      color: white;
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 23px;
      padding: 10px;
      width: 80%;
      a {
        color: white;
      }
    }
  }
}

.loading {
  width: 220px;
  height: 19px;
  display: block;
  margin: 0 auto;
  background: {
    image: url(../img/loader.gif);
    size: cover;
    repeat: no-repeat;
  }
}