/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "animation";
@import "_base";


$otherThanPhone: "only screen and (min-width : 602px)";
$ipadPortrait: "only screen and (min-width : 815px)";
$ipadLandscape: "only screen and (min-width : 1000px)";
$desktop: "only screen and (min-width : 1025px)";
$megaDesktop: "only screen and (min-width : 1312px)";

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,400italic);



$regularFont : 'Roboto Slab';
$thinFont : 'Roboto';
$red : #E31515;

@include keying(playing) {
  from {
    background-position: 0px;
  }
  to {
    background-position: -300px;
  }
}

@include keying(goombaAnimation) {
  from {
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 0;
  }
  to {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
  }
}

@include keying(jumping) {
  0% {
    left: 0;
    top: 40px;
  }
  30%,90% {
    top: 60px;
  }
  60% {
    top: 40px;
  }
  100% {
    top: 60px;
    left: 100%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $regularFont;
  background-color: rgba(20,20,20,1);
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
}

div, li, ul, span, img,h1,h2,h3,p,a {
  @include box-sizing(border-box);
}

a {
  font-family: $regularFont;
}

.mobile-topbar {
  background-color: $red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 40px;

  @media #{$otherThanPhone} {
    display: none;
  }

  .mobile-menu-toggle {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 0;
    margin: 0;
    padding: 0;
    background: {
      image: url(../img/menu-button.svg);
      size: 20px;
      repeat: no-repeat;
      color: rgba(0,0,0,0.5);
      position: 10px;
    }
  }

  .logo {
    display: inline-block;
    position: absolute;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    height: 20px;
    top: 8px;
    background-image: url(../img/spillmuseet-horizontal.svg);
    background-size: 147px;
    background-repeat: no-repeat;
  }
}

.articles-container {

  .main-header {
    display: none;
    @media #{$otherThanPhone} {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: {
        image: url(../img/top-header.jpg);
        position: center top;
        attachment: fixed;
      }
      height: 120px;
      overflow: hidden;
      @media #{$desktop} {
      }

      .link-sprite-container {
        position: absolute;
        top: 0;
        width: 50px;
        height: 50px;
        
        @include animation(jumping 10s infinite linear);
        @media #{$desktop} {
          @include animation(jumping 15s infinite linear);  
        }
        .link-sprite {
          width: 50px;
          height: 50px;
          background: url(../img/link-sprite.png);
          @include animation(playing 0.2s infinite steps(6));
          @media #{$desktop} {
            @include animation(playing 0.5s infinite steps(6));
          }
        }
      }

      .logo-image {
        width: 135px;
        height: 110px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -67.5px;
        z-index: 300;
        @include box-sizing(border-box);
        @include box-shadow(rgba(0,0,0,0.3) 0 0 30px 2px);

        background: {
          image: url(../img/spillmuseet_bart_inverse_new.svg);
          size: 135px auto;
          repeat: no-repeat;
          background-position: 0 0;
        }
      }
      .logo-retrospillmessen {
        width: 220px;
        height: 87px;
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -300px;
        z-index: 300;
        @include box-sizing(border-box);

        background: {
          image: url(../img/retrospillmessen-logo.png);
          size: 220px auto;
          repeat: no-repeat;
          background-position: 0 0;
        }
      }
    }
  }

  width: 100%;
  max-width: 1312px;
  position: relative;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(10,10,10,1);
  overflow-x: hidden;

  @media #{$otherThanPhone} {
    }

    .main-navigation {
      position: fixed;
      z-index: 5000;
      background-color: $red;
      width: 100%;
      opacity: 0;
      margin-top: -10px;
      display: none;
      max-height: 50px;
      overflow: hidden;
      @include box-sizing(border-box);

      .follow {
        display: none;
        @media #{$ipadPortrait} {
          display: inline-block;
          height: 100%;
          padding: 13px 10px 0 10px;
          vertical-align:top;
          color: $red;
          border-left: 1px solid rgba(255,255,255,0.2);
          border-right: 1px solid rgba(255,255,255,0.2);
        }
        .follow-text {
          display: none;
          @media #{$desktop} {
            display: inline-block;
          }
        }

        .fb-like {
          display: inline-block;
        }
      }

      form[role="search"] {
        
        display: none;
        position: relative;
        vertical-align: top;
        padding: 10px 0 0 5px;
        @media #{$ipadLandscape} {
        }
        @media #{$desktop} {
          display: inline-block;
        }

        .screen-reader-text {
          text-indent: -999999px;
          overflow: hidden;
          max-width: 1px;
          width: 1px;
          position: relative;
          display: none;
        }
        input[type="text"] {
          font-size: 13px;
          font-family: $regularFont;
          background-color: black;
          border: 1px solid rgba(255,255,255,0.4);
          padding: 5px;
          margin: 0;
          color: white;
        }
        input[type="submit"] {
          margin: 0 0 0 0;
          padding: 0;
          font-size: 13px;
          font-family: $regularFont;
          padding: 5px 5px 5px 5px;
          background-color: black;
          border: 1px solid rgba(255,255,255,0.4);
          margin-left: -5px;
          color: white;
        }
      }

      &.active {
        display: block;
        opacity: 1;
        margin: 0;
        @include transition(all 100ms linear);
        height: 100%;
        border-top: 40px solid transparent;
        @include box-sizing(border-box);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0 0 0 0;
        li {
          padding: 10px;
          margin: 0;
          display: block;
          color: white;
          &.menu-item-has-children {
            a {
              padding-right: 21px;
              @media #{$desktop} {
                padding-right: 25px;
              }
            }
            &:after {
              content: "";
              position: absolute;
              width: 8px;
              height: 8px;
              right: 6px;
              top: 23px;
              bottom: 16px;
              background: {
                size: 8px 8px;
                image: url(../img/arrow.svg);
              }
              repeat: no-repeat;
              @media #{$desktop} {
                right: 10px;
              }

            }
          }
          a {
            color: white;
          }
        }

      }

      @media #{$otherThanPhone} {
        display: inline-block;
        text-align: center;
        opacity: 1;
        margin-top: 0;
        
        position: absolute;
        left:0;
        width: 100%;
        top: 120px;
        margin-left: 0;
        z-index: 50000;
        height: 50px;
        background-color: rgba(0,0,0,1);
        border-bottom: 1px solid rgba(255,255,255,0.1);

        @media #{$ipadLandscape} {
          padding: 0 0 0 10px;
        }

        @media #{$megaDesktop} {
          width: 1312px;
          left: 50%;
          margin-left: -656px;
        }

        &.tiny {
          @media #{$otherThanPhone} {
            position: fixed;
            top: 0;
          }
        }

        ul {
          display: inline-block;
          padding: 0;
          margin: 0;
          list-style: none;
          @media #{$desktop} {
          }

          li {
            position: relative;
            display: inline-block;
            padding: 0;

            .sub-menu {
              display: none;
            }

            &.current-menu-item {
              a {
                background-color: $red;
              }
            }

            &:hover {
              background-color: $red;
              .sub-menu {
                min-width: 100%;
                background-color: red;
                position: absolute;
                list-style: none;
                padding: 0;
                margin: 0;
                display: block;
                z-index: 500;
                left: 0;
                top: 49px;
                li {
                  width: 100%;
                  display: block;
                  text-align: left;
                  a {
                  }
                }
              }
            }

            &:hover {
               
            }
            
            a {
              color: white;
              font-family: $regularFont;
              text-decoration: none;
              font-size: 14px;
              font-weight: 400;
              text-transform: uppercase;
              padding: 15px 11px 15px 11px;
              display: block;

              @media #{$desktop} {
                padding: 15px 15px 15px 15px;
              }
              &:hover {
              }
            }
          }
        }
      }
    }

  #sidebar {
    display: none;

    @media #{$otherThanPhone} {
      margin-top: 158px;
      @include box-sizing(border-box);
    }
    @media #{$desktop} {
      width: 22%;
      display: inline-block;
      vertical-align: top;
      padding: 10px;

      .sidebar-section {

        .sidebar-paragraph {
          font-size: 14px;
          color: rgba(255,255,255,0.6);
        }

        .top-comment-post {
          padding: 10px;
          border: 1px solid rgba(255,255,255,0.1);
          margin-bottom: 10px;
          position: relative;

          @include box-sizing(border-box);
          .comment-image {
            width: 100%;
            height: 80px;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          .comment-title {
            position: absolute;
            top: 0;
            @include box-sizing(border-box);
            width: 100%;
            padding: 10px;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
          }
        }      
      }
    }
  }
  .articles {
    position: relative;
    z-index: 1002;
    border: 1px solid rgba(255,255,255,0.1);
    
    background-color: rgba(0,0,0,1);
    margin-top: 30px;
    padding: 0 0 20px;
    @media #{$otherThanPhone} {
      margin-top: 158px;
    }
    @media #{$ipadLandscape} {
      width: 980px;

    }
    @media #{$desktop} {
      width: 76%;
      display: inline-block;
    }


    .archive-title {
      position: absolute;
      padding-left: 10px;
      top: 33px;
      width: 100%;
      display: block;
      font-size: 24px;
      text-align: center;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255,0.1);
        bottom: 0;
      }
    }

    .articles-list {
      list-style: none;
      padding: 10px 0 0 0;
      @media #{$otherThanPhone} {
        padding: 0 0 0 0;
      }
      margin: 0;

      &.search-list {
        margin-top: 120px;
      }

      .article-container {
        @include box-sizing(border-box);
        vertical-align: top;

        @media #{$otherThanPhone} {
          padding: 10px;
          width: 50%;
          display: inline-block;
        }

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(7),
        &:nth-child(10) {
          .article {
            .main-image-container {
              height: 200px;
              img {
                margin-left: -100px;
              }
            }
          }
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(8),
        &:nth-child(9) {
          width: 50%;
          display: inline-block;
          .article {
            .main-image-container {
              height: 80px;
              img {
                max-width: 100%;
              }
            }
          }
        }

        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(8) {
          padding-right: 5px;
        }

        @media #{$otherThanPhone} {
          &:nth-child(1),
          &:nth-child(4),
          &:nth-child(7),
          &:nth-child(10) {
            .article {
              .main-image-container {
                height: 250px;
                img {
                  margin-left: 0px;
                }
              }
            }
          }

          &:nth-child(2),
          &:nth-child(5),
          &:nth-child(8) {
            padding: 10px;
          }

          &:nth-child(2),
          &:nth-child(6),
          &:nth-child(9) {
            width: 50%;
            .article {
              .main-image-container {
                height: 250px;
                img {
                  max-width: 100%;
                  margin-left: 0;
                }
              }
            }
          }

          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(8),
          &:nth-child(9),
          &:nth-child(10) {
            width: 33.3%;
            .article {
              .main-image-container {
                height: 160px;
                img {
                  max-width: 100%;
                }
              }
            }
          }
        }

        .article {
          position: relative;
          margin-bottom: 20px;
          border: 1px solid rgba(255,255,255,0.1);

          .wp-caption-text {
            display: none;
          }
          img {
            display: none;
          }
          h1 {
            color: rgba(255,255,255,0.8);
            padding: 0 20px 0 20px;
            font-size: 15px;
            margin-bottom: 0;

            @media #{$otherThanPhone} {
              font-size: 20px;
            }

            a {
              color: white;
            }
          }
          .byline {
            font-size: 14px;
          }
          h2 {
            font-family: $thinFont;
            font-size: 12px;
            color: rgba(255,255,255,0.6);
            padding: 0 20px 0 20px;
            margin-top: 10px;
            font-weight: normal;

            @media #{$otherThanPhone} {
              font-size: 16px;
            }
          }

          p {
            font-family: $thinFont;
            font-size: 12px;
            color: rgba(255,255,255,0.6);
            padding: 0 20px 0 20px;
            margin-top: 10px;
            a {
              font-size: 10px;
            }

            @media #{$otherThanPhone} {
              font-size: 16px;
              a {
                font-size: 14px;
              }
            }
          }

          .tags {
            font-size: 11px;
            a {
              font-size: 11px;
            }
          }

          .category {
            display: none;

            @media #{$otherThanPhone} {
              position: absolute;
              top: 0;
              font-family: $thinFont;
              font-size: 10px;
              z-index: 100;
              padding: 5px 10px 5px 10px;
              text-transform: uppercase;
              color: white;
              margin-top: -8px;
              
              background-color: #E31515;
              font-size: 14px;
              margin-left: 8px;
              margin-top: -18px;
            }

            ul {
              padding: 0;
              margin: 0;
              list-style: none;
              li {
                a {
                  color: white;
                }
              }
            }

            &:after {
              position: absolute;
              content: "";
              background: {
                size: 20px 10px;
                repeat: no-repeat;
              }
              width: 20px;
              height: 10px;
              bottom: -10px;
              left: -5px;
            }
            &.anmeldelse {
              background-color: #E31515;
              &:after {
                background-image: url(../img/grey-flip.svg);
              }
            }
            &.toppliste {
              background-color: #E31515;
              &:after {
                background-image: url(../img/grey-flip.svg);
              }
            }

          }

          .comments {
            position: absolute;
            width: 50%;
            top: -22px;
            color: rgba(208,211,208,1);
            font-family: $thinFont;
            right: 0;
            text-align: right;
            border-bottom: 1px solid rgba(208,211,208,0.5);
            z-index: 100;

          }

          .main-image-container {
            height: 250px;
            position: relative;
            overflow: hidden;
            @include box-sizing(border-box);
            border-bottom: 1px solid rgba(255,255,255,0.5);

            img {
              position: relative;
              display: block;
            }

            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;

              @media #{$otherThanPhone} {
                @include box-shadow(rgba(0,0,0,0.6) 0 0 60px 20px inset);
              }

              @media #{$desktop} {
                @include transition(box-shadow 200ms linear);
              }
            }
            @media #{$desktop} {
              &:hover {
                &:after {
                  @include box-shadow(rgba(0,0,0,0.1) 0 0 60px 0px inset);
                  @include transition(box-shadow 200ms linear);
                }
              }
            }
          }
        }
      }
    }
  }
}
.article.fb-like {
  position: absolute;
  top: 350px;
  margin-left: 10px;
  z-index: 4000;
}
.main-article {
  padding: 10px 0 100px 0;
  position: relative;
  text-align: center;
  h1,h2,h3,h4,h5,p,ul,ol,li,blockquote {
    text-align: left;
  }

  h1 {
    color: rgba(255,255,255,0.8);
    font-family: $regularFont;
    font-size: 40px;
    padding: 20px 20px 0px 20px;
    margin: 0;
    font-weight: normal;
    @media #{$otherThanPhone} {
      font-size: 40px;
    }
  }
  h2 {
    color: rgba(255,255,255,0.4);
    font-family: $regularFont;
    font-size: 20px;
    font-weight: normal;
    padding: 0 20px 0 20px;
    @media #{$otherThanPhone} {
      font-size: 30px;
    }
  }

  h3,h4 {
    font-size: 18px;
    text-align: left;
    font-family: $regularFont;
    color: $red;
    padding: 0 20px 0 20px;
    @media #{$otherThanPhone} {
      padding: 0 100px 0 100px;
      font-size: 28px;
    }
    
  }
  img {
    &.aligncenter {
      margin: 0;
      padding: 0;
    }
  }
  .wp-caption {
    max-width: 400px;
    overflow: hidden;
    a {
      width: 100%;
    }

    border: 1px solid rgba(255,255,255,0.1);
    .wp-caption-text {
      padding: 10px 10px 10px 10px;
      font-size: 14px;
      margin: 0;
      line-height: 1;
    }
    img {
      max-width: 100%;
      min-width: 300px;
      padding: 0;
      margin: 0;
    }
    &.alignleft {
      float: left;
      margin: 10px 10px 10px 20px;
      @media #{$otherThanPhone} {
        margin: 10px 10px 10px 100px;
      }

    }
    &.alignright {
      float: right;
      margin: 10px 20px 10px 10px;
      @media #{$otherThanPhone} {
        margin: 10px 100px 10px 10px;
      }
    }
    &.aligncenter,
    &.alignnone {
      margin: 0 auto;
      text-align: center;
      max-width: 100%;
      padding: 0;
      display: inline-block;
    }
    &.alignnone {
      text-align: left;
    }
  }
  h2 + .wp-caption,
  .byline + .wp-caption,
  h1 + .wp-caption {
    max-height: 600px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    border: 0;
    margin:0;
    padding: 0;
    border-top: 1px solid rgba(255,255,255, 0.1);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    padding: 0;
    margin: 0;
    

    img {
      border: 0;
      padding: 0;
      margin:0;
      width: 100%;
      height: auto;
    }
  }

  img {
    max-width: 100%;
    padding: 0;
    border: 1px solid rgba(255,255,255,0.4);
    margin: 0;
  }

  p:first-of-type {
    padding-top: 10px;
    @media #{$otherThanPhone} {
      padding-top: 40px;
    }
  }

  p {
    padding: 0 20px 20px 20px;
    font-size: 16px;
    color: rgba(255,255,255,0.6);
    font-weight: normal;
    font-family: $thinFont;
    line-height: 1.5em;
    &.byline {
      font-size: 14px;
      padding: 0 20px 20px 20px;
    }
    @media #{$otherThanPhone} {
      padding: 0 100px 20px 100px;
      font-size: 18px;
    }
  }

  ol,
  ul {
    color: rgba(255,255,255,0.6);
    padding: 0 20px 20px 20px;
    @media #{$otherThanPhone} {
      padding: 0 100px 20px 100px;
    }
    
  }

  blockquote {
    padding: 0 20px 20px 20px;
    @media #{$otherThanPhone} {
      padding: 0 100px 20px 100px;
    }
    p {
      padding: 0;
      max-width: 50%;
      color: $red;
      font-size: 20px;
      font-family: $regularFont;
      font-style: italic;
      word-wrap: break-word;
      &:before {
        content: '"';
        font-size: 30px;
      }
      &:after {
        content: '"';
        font-size: 30px;
      }
    }
  }
  iframe {
    width: 100%;
    min-height: 270px;
    @media #{$otherThanPhone} {
      min-height: 500px;
    }
  }
}

.footer {
  border-top: 1px solid rgba(255,255,255,0.1);

  background-color: rgba(10,10,10,1);
  position: relative;
  min-height: 400px;
  padding-top: 50px;
  .footer-section {
    display: none;
    @media #{$ipadLandscape} {
      display: inline-block;
    }
    &.mobile-section {
      display: inline-block;
      width: 100%;
      @media #{$ipadLandscape} {
        width: 19%;
      }
    }
    border-right: 1px solid rgba(255,255,255,0.1);
    height: 100%;
    vertical-align: top;
    @include box-sizing(border-box);
    .footer-paragraph {
      padding: 10px 20px 20px 20px;
      margin: 0;
      color: rgba(255,255,255,0.5);
      font-size: 14px;
    }
    h4 {
      padding: 0 18px 10px 18px;
      margin: 0;
      font-size: 16px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.8);
    }
    ul {
      padding: 10px 0 0 40px;
      margin: 0 0 20px 0;
      color: rgba(255,255,255,0.6);
      font-size: 14px;
    }
    width: 19%;

    .logo-rad-crew {
      display: inline-block;
      margin: 0 0 0 30px;
      text-indent: -99999px;

      width: 180px;
      height: 80px;
      background: {
        image: url(../img/rad-crew-logo.jpg);
        size: 180px;
        repeat: no-repeat;
      }
    }

    .spillmuseet-logo {
      display: inline-block;
      margin: 0 0 0 30px;

      width: 180px;
      height: 28px;
      background: {
        image: url(../img/spillmuseet-horizontal.svg);
        size: 180px;
        repeat: no-repeat;
      }
    }
  }
}


a {
  color: #E31515;
  text-decoration: none;
}

.page-numbers {
  padding: 0 30px 0 30px;
  li {
    list-style: none;
    padding: 0;
    display: inline-block;
    a,span {
      padding: 10px;
      display: inline-block;
    }
    a {
      background: $red;
      color: white;
    }
  }
}

.fullscreen-overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;

  &.active {
    display: block;
  }
}
#disqus_thread {
  padding: 0 20px 0 20px;
}